<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4 pt-5 mt-5">Mongo Scraper</h1>
        <p class="lead">New Yorks Times Edition</p>
    </div>
</div>

<div class="container">
    {{#each articles}}
        <div class="card">
            <div class="card-header">
                {{title}} title
                <a href="#" class="btn btn-success">Save Article</a>
            </div>
            <div class="card-body">
                <p class="card-text">Summary {{link}}</p>
            </div>
        </div>
    {{/each}}
</div>